<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Directory</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/styles.css">
  </head>
  <body class="container">
    <h1>Robot Network</h1>
    <ul class="list-unstyled list-inline">
      <li><a href="/robots/lookingForWork">Robots for Hire</a></li>
      <li><a href="/robots/employed">Employed Robots</a></li>
    </ul>

    <div class="container" style="margin-top: 2rem">
      <div class="row">
        <div class="col">
          {{#user}}
            <h1>
              You are logged in as {{ username }}.
              <small><a href="/logout/">Logout</a></small>
            </h1>
          {{/user}}
          {{^user}}
          <h1>
            You are not logged in.
            <small><a href="/login/">Login</a> | <a href="/register/">Register</a></small>
          </h1>
          {{/user}}
          <p class="lead">
            <a href="/secret/">Go to secret page.</a>
          </p>
        </div>
      </div>
    </div>





    <section class = "container">
      <ul class="list-unstyled list-inline index-container">
        {{#model}}
        <ul class="list-unstyled user-thumbnail">
          <li class="avatar"><img class="img-rounded" src="{{avatar}}" alt="Photo"></li>
          <li class="user-info"><a href="{{id}}">{{name}}</a></li>
          <li>{{job}} {{company}}</li>
          <li>{{^job}}{{/job}}</li>
          <li class="for-hire">{{^company}}Available for Hire{{/company}}</li>
        </ul>
      {{/model}}
    </ul>
  </section>
</body>

</html>
