<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/styles.css">
  <title>employed robots</title>
</head>

<body class="container">
  <h1>Hire A Robot</h1>
  <ul class="list-unstyled list-inline">
    <li><a href="/robots/">Home</a></li>
    <li><a href="/robots/lookingForWork">Hire a Robot</a></li>
    <li><a href="/robots/employed">Employed Robots</a></li>
  </ul>

  <section class="container">
    <ul class="list-unstyled list-inline index-container">
      {{#model}}
        <ul class="list-unstyled user-thumbnail">
          <li class="avatar"><img class="img-rounded" src="{{avatar}}" alt="Photo"></li>
          <li class="user-info"><a href="{{id}}">{{name}}</a></li>
          <li>{{job}} {{company}}</li>
          <li>{{^job}}{{/job}}</li>
          <li class="for-hire">{{^company}}Available for Hire{{/company}}</li>
        </ul>
      {{/model}}
    </ul>
  </section>
</body>

</html>
