<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up Page</title>
  </head>
  <body>
    <h1>Please create user profile to login:</h1>
      <form class="profile" action="/signup" method="post">
        <div class="username">
          <label for="username">Username</label>
          <input type="text" name="username" value="" placeholder="Enter desired username">
        </div>
        <div class="password">
          <label for="password">Password</label>
          <input type="password" name="password" value="" placeholder="Enter desired password">
        </div>
        <div class="submit">
          <input type="submit" name="submit" value="Submit">
        </div>
      </form>
  </body>
</html>
